.hedr{
    width: auto;
    height:100px;
    background-color: rgb(239, 240, 236);
    box-shadow: 0px 2px 10px gray;
}
.tdl{
    padding-top:30px;
    text-align: center;
    color: rgb(61, 57, 57);
    font-family:arial;
}
.headingsection{
    font-size: 40px;
    margin-top: 100px;
    margin-left: 350px;
    font-family:serif;
}
#tasks{
    padding-right: 250px;
}
.box{
    width: 180px;
    height: 250px;
    border: 1px #E74C3C solid;
    margin-top: 50px;
    margin-left:200px;
    border-radius:5%;
}
.box1{
    width: 180px;
    height: 250px;
    border: 1px #E74C3C solid;
    margin-top: 50px;
    margin-left:40px;
    border-radius:5%;
}
.text{
    color: #E74C3C;
    font-size:20px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom:1px gray solid;
    line-height:50px;
}
.strikedtext{
    margin-top: 20px;
    margin-left:40px;
    text-decoration: line-through;
    font-size: 18px;
    color: red;
    font-weight:lighter;
}
.cb{
    margin-left: 20px;
    margin-top: 15px;
    font-size: 16px;
}
#pt{
    position: relative;
    top:3px;
    color: black;
}
.section{
    display: flex;
    margin-left:150px;
}

